<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="">
    <clear />
    <add key="fecha" value="18/07/2014" />
    <add key="ConexionBD" value="server=localhost\\SQLSERVER2008; user=gd; password=gd2014; database=GD2C2014;"/>
    <add key="userAdmin" value="admin"/>
    <add key="passAdmin" value="w23e"/>
    </appSettings>
</configuration>
